<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
{% load static %}
    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Farewell 2018</title>
	<meta name="description" content="Contact Us">
	<meta name="author" content="Swaroop">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
	
	<!-- Owl Carousel Assets -->
    <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{% static "farewell/css/zerogrid.css" %}">
	<link rel="stylesheet" href="{% static "farewell/css/style.css" %}">
	<link rel="stylesheet" href="{% static "farewell/css/menu.css" %}">
	
	<!-- Custom Fonts -->
	<link href="{% static "ffarewell/ont-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

	
	<script src="{% static "farewell/js/jquery.min.js" %}"></script>
	<script src="{% static "farewell/js/script.js" %}"></script>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>
<body class="sub-page">
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<!---Top Menu--->
<div id="cssmenu" >
	<ul>
	   <li><a href="/"><span>Home</span></a></li>
	   <li class="last"><a href="contact"><span>Contact</span></a></li>
	</ul>
</div>
<header id="header">
	<div class="wrap-header" >
		<!---Main Header--->
		<div class="main-header">
			<div class="zerogrid">
				<div class="row">
					<div class="hero-heading">
						<span>Farewell Seniors!</span>
						<div class="tl"></div>
						<div class="tr"></div>
						<div class="br"></div>
						<div class="bl"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container">
		<div class="zerogrid">
			<div class="row"><!--Start Box-->
				<div class="crumbs">
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</div>
				<div id="main-content">
                    <p>
                      <form action="{% url 'addquestion' %}" method="post">
                        {% csrf_token %}
                        Name:</br>
                        <input type="text" name="uname"> </input>
                        </br>
                        Email:</br>
                        <input type="text" name="uemail"> </input>
                        </br>
                        Question/Suggestion:</br>
                        <textarea name="text" rows="4" cols="20">
                        </textarea>
                        </br>
                        <input type="submit" value="Send"/>
                      </form>
                    </p>
				</div>
			</div>
		</div>
	</div>
	
</section>
</div>
</body>
</html>